@{
    ViewData["Title"] = "Grand Exchange";
}
<h3>@ViewData["ProjectTitle"]</h3>
<div>
    <span>@ViewData["itemName"]</span>
    <img src=@ViewData["imageIcon"] alt="@ViewData["itemName"]" />
    <span>@ViewData["itemPrice"]</span>
    <span>@ViewData["itemDescription"]</span>
</div>
